@import '../../bower_components/bootstrap-sass/assets/stylesheets/bootstrap';

body {
    -webkit-font-smoothing: antialiased;
}

#header {
    background: #ddd;
    height: 53px;
    position: fixed;
    z-index: 100;
    min-width: 8in;
    width: 100%;
}

#footer {
    position: fixed;
    background: #ddd;
    bottom: 0;
    left: 220px;
    right: 1rem;
    height: 4rem;
    z-index: 52;
}

#client-body {
  margin-top: 53px;
}

.col-messages {
  position: relative;
}
