{{#slakers-app}}
  <div id="footer">
    Footer
  </div>
  <div id="client-ui">
    <div id="col-channels">
      <div class="col-channels-bg"></div>
      <div id="channels">
        <h2>
          Channels
        </h2>
        <ul class="channel-list">
          <li><a href="#">some-channel</a></li>
          <li><a href="#">some-channel</a></li>
          <li><a href="#">some-channel</a></li>
          <li><a href="#">some-channel</a></li>
          <li><a href="#">some-channel</a></li>
          <li><a href="#">some-channel</a></li>
        </ul>
      </div>
    </div>
  </div>
  <div id="col-messages">
    Messages
  </div>
{{/slakers-app}}
